:where(*){
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: transparent;
    margin: 0px auto;
    overflow: hidden;
    
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}

#error{
    width: 100%;
    line-height: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-radius: 22px;
    background: rgb(255, 110, 110);
    border: 3px solid black;
}

/** 제목 CSS */
#title{
    width: 100% !important;
    top: 0px !important;
    position: absolute !important;

    color: rgb(255, 255, 255);
    font-size: 34px;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
    text-align: center;
    font-weight: bold;
}

/** 모양을 둥글게 하기 위해 사용 */
#radius{
    display: flex !important;
    flex: 0 0 auto !important;
    overflow: hidden !important;

    border-radius: 7px; /** 둥글게 할 정도 */
    width: calc(100% - 24px); /** 100% - marginLeft - marginRight */
    max-height: calc(100% - 24px - 12px); /** 100% - marginTop - marginBottom */
    margin: 24px 12px 12px 12px; /** 박스 위/아래 조절 */
}

/** 테두리 */
#border{
    flex: 1 !important;

    border: 5px solid;
    border-image: linear-gradient(140deg, rgb(255, 238, 183), rgb(253, 158, 48), rgb(255, 238, 183)) 1; /** 테두리 */
}

/** 배경화면 */
#background{
    height: 100% !important;

    padding: 18px 12px 12px 12px;
    background: rgba(224, 202, 128, 0.75);
}

/** 내용이 들어가기 위한 상자 */
#content{
    height: 100% !important;
    overflow: auto !important;

    /** 스크롤바 가리는 기능 */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/** 스크롤바 가리는 기능 */
#content::-webkit-scrollbar{
    display: none;
}

.song{
    display: flex;
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-top: 2px;
    text-shadow: 2px 2px 2px rgb(61, 61, 61);
}

.dlc{
    font-size: 17px;
}