.settings{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 320px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    
    z-index: 9999;
    background-color: #f9f9f9;

    border: 3px solid #beff80;
    border-radius: 9px;

    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.settings-title{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: .5em;
}

.settings.show{
    opacity: 1;
}

.slider-container{
    display: flex;
    align-items: center;
}

.slider{
    flex: 1;
    height: 8px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    -webkit-appearance: none;
    appearance: none;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    
    -webkit-appearance: none;
    appearance: none;
}

.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.option-title{
    margin-top: .5em;
}

.option-title, .settings-title{
    text-align: left;
}

.option-title, .slider-value{
    font-size: 15px;
}

.option-label{
    font-size: 15px;
}

.slider-value{
    width: 60px;
    text-align: right;
}