*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img{
    max-width: calc(46% - 30px);
    height: auto;
    margin: 15px;
}

.fadeIn{
    animation: fadein 1s;
}

.fadeOut{
    animation: fadeout 1.1s;
}

#text{
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000, 0 0 5px #000;
}

#profile{
    width: 57px;
    height: 57px;

    border: 2px solid rgb(207, 207, 207);
    border-radius: 50%;
}

#nickname, #type{
    color: yellow;

    /* 세로 중앙 */
    line-height: 140%;
    vertical-align: top;
    /* text-shadow: 0 -1px 1px #000, 0 -1px 2px #000, 0 -1px 3px #000, 0 0px 4px #000, 0 0px 5px #000; */
}

.pulse{
    display: inline-block;
    animation: pulse .6s infinite;
}

.msg{
    /* 세로 중앙 */
    line-height: 140%;
    vertical-align: top;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes pulse{
    50%{
        transform: rotate(-4deg) scale(1.1);
    }
}